* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
    min-width: 360px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

section {
    padding: 5rem 0rem;
}

.invisible {
    display: none;
}

.icon--big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 1.2rem;
}

.icon--small {
    display: inline-block;
    vertical-align: middle;
    margin: 0rem 0.5rem;
    font-size: 1.2rem;
    color: #e67e22;
}

.btn {
    transition: all 0.2s ease;
    height: 3rem;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 0.3rem 1.5rem;
    border: 1px solid #e67e22;
    border-radius: 30px;
    cursor: pointer;
}

.btn--fill {
    border: none;
    color: white;
    background-color: #e67e22;
    outline: none;
}

.btn--fill:hover {
    background-color: #ac6425;
}

.btn--outline {
    color: #e67e22;
    background-color: transparent;
    margin-left: 1rem;
    outline: none;
}

.btn--outline:hover {
    background-color: #e67e22;
    color: white;
}

.placeholder {
    visibility: hidden;
}

@media (max-width: 1080px) {
    * {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    * {
        font-size: 12px;
    }
}
/* HEADER */

.header {
    height: 100vh;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../Omnifood Contents/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header__container {
    max-width: 1200px;
    height: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__para {
    margin: 0 0 0 1rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    word-spacing: 5px;
    width: 95%;
}

.header__hero-button-container {
    margin-left: 1rem;
    margin-top: 1rem;
}

/* NAVIGATION */

.nav {
    height: 15vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--white {
    width: auto;
    height: 6rem;
}

.nav__buttons {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__button {
    display: flex;
    height: 50%;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    transition: border-color 0.2s ease;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-left: 2rem;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.nav__button:hover {
    border-bottom: 2px solid #e67e22;
    cursor: pointer;
}

.nav--fixed {
    position: fixed;
    z-index: 1;
    padding: 0 10%;
    height: 10vh;
    max-width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    opacity: 0.98;
    box-shadow: 0px 2px 2px 0px rgba(216, 216, 216, 0.7);
}

.nav--fixed .nav__button {
    color: black;
    height: 100%;
    padding-bottom: 0px;
    line-height: 3rem;
}

.nav--fixed .nav__logo--white {
    display: none;
}

.nav--fixed .nav__logo--black {
    display: block;
}

.nav__logo--black {
    height: 3rem;
    width: auto;
}

.nav__icon {
    font-size: 3rem;
    color: white;
    display: none;
    height: 6vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.nav--fixed .nav__icon {
    color: black;
}

@media (max-width: 700px) {
    .ion-md-menu {
        position: relative;
        z-index: 2;
        display: flex;
    }

    .nav--open .ion-md-menu {
        display: none;
    }
    
    .nav--open .ion-md-close {
        display: flex;
    }

    .nav--open .nav__buttons {
        transform: translateY(0vh);
    }

    .nav__buttons {
        height: auto;
        position: absolute;
        top: 1rem;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        transform: translateY(-45vh);
        transition: transform 0.2s ease;
    }

    .nav--fixed .nav__buttons {
        top: 0;
        background-color: white;
        opacity: 0.98;
        box-shadow: 0px 2px 2px 0px rgba(216, 216, 216, 0.7);
    }

    .nav__button:hover {
        border-color: white;
    }

    .nav--fixed {
        height: 10vh;
        padding: 0 5%;
        overflow: visible;
    }

    .nav__logo--black {
        position: relative;
        z-index: 2;
        height: 6vh;
        width: auto;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
}

/* SECTION CLASSES */

.section__header {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.divider {
    border-bottom: 2px solid #e67e22;
    width: 4rem;
    margin: 0 auto;
}

.see-through {
    opacity: 0;
}

@media (max-width: 700px) {
    .section__header {
        margin: 0 3rem 2rem 3rem;
    }
}

/* SECTION 1 */

.overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overview__mainpara {
    margin: 2rem auto 0 auto;
    line-height: 145%;
    font-size: 1.2rem;
    width: 60%;
}

.overview__containerpara {
    line-height: 145%;
    font-size: 1.1rem;
}

.overview__container {
    margin: 3rem auto 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    transition: all 1s ease;
}

.overview__column {
    display: flex;
    flex-direction: column;
    width: 23%;
}

.overview__subheader {
    text-transform: uppercase;
    margin: 0;
    font-size: 1.4rem;
    height: 15%;
}

@media (max-width: 700px) {
    .overview__mainpara {
        width: 90%;
    }
    .overview__container {
        display: flex;
        flex-direction: column;
    }
    .overview__column {
        width: 100%;
    }
}

/* SECTION 2 */

.photos {
    height: auto;
    padding: 0;
}

.photos__img-row {
    display: flex;
    height: 50%;
}

.photos__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    width: 25%;
}
.image {
    transition: all 0.5s ease;
    height: auto;
    width: 100%;
    opacity: 0.6;
    transform: scale(1.2)
}

.image:hover {
    transform: scale(1);
    opacity: 1;
}

/* SECTION 3 */

.steps {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.steps__main-container {
    display: flex;
    margin: 2rem auto 0 auto;
    width: 50%;
}

.steps__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-img {
    width: 50%;
    transition: all 1s ease;
}

.phone--before-scroll {
    transform: translateY(200px);
}

.steps__list {
    list-style: none;
    counter-reset: item;
    padding: 0;
}

.steps__list__item {
    counter-increment: item;
    display: flex;
    align-items: center;
}

.steps__list__item:before {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    content: counter(item);
    border: 2px solid #e67e22;
    border-radius: 100%;
    color: #e67e22;
    padding: 1rem;
    font-size: 1.6rem;
    margin-right: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
}

.steps__list__number {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
}

.steps__list-para {
    line-height: 145%;
    font-size: 1.2rem;
}

.steps__button-container {
    display: flex;
    align-items: flex-end;
}

.steps__button img {
    height: 40px;
    width: auto;
}

.steps__button:last-of-type {
    margin-left: 1rem;
}

@media (max-width: 700px) {
    .steps__main-container {
        flex-direction: column;
    }
    .steps__button-container {
        display: flex;
        flex-direction: column;
    }
    .steps__button:last-of-type,
    .steps__button {
        margin: 0 auto;
    }
}


/* SECTION 4 */

.cities__image-row {
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    transition: all 1s ease;
}

.location {
    width: 20%;
}

.location__img-container {
    margin: 0 auto;
}

.location__image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.location__header {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 1rem 0rem;
}

.location__list {
    list-style: none;
    padding: 0;
}

.location__para {
    margin: 0.3rem 0rem;
    font-size: 1.2rem;
    display: inline-block;
    vertical-align: middle;
}

.location__mail {
    color: #e67e22;
    font-size: 1.2rem;
    transition: all 0.2s ease;
}

.location-mail:hover {
    color: black;
    text-decoration: none;
}

@media (max-width: 700px) {
    .cities__image-row {
        flex-direction: column;
    }
    .location {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

/* SECTION 5 */

.testimonials {
    position: relative;
    width: 100%;
    background-color: black;
    background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../Omnifood Contents/back-customers.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.quotes {
    margin: 6rem auto 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.quotes__container {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
}

.quote {
    position: relative;
    margin-top: 0;
    font-style: italic;
    line-height: 145%;
    font-size: 1.2rem;
}

blockquote::before {
    content: "\201C";
    font-size: 5rem;
    position: absolute;
    top: -1rem;
}

.customer {
    display: flex;
    align-items: center;
}

.customer__image {
    width: 15%;
    height: auto;
    align-self: center;
    border-radius: 50%;
}

.customer__name {
    font-style: italic;
    font-size: 1rem;
    margin: 0 0 0 0.8rem;
}

@media (max-width: 700px) {
    .quotes {
        flex-direction: column;
    }
    .quotes__container {
        margin-bottom: 4rem;
        width: 100%;
    }
    .quotes__container:last-of-type {
        margin-bottom: 0;
    }
}

/* SECTION 6 */

.plans {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.plans__container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1400px;
    margin: 2rem auto;
}

.plan {
    background-color: white;
    width: 29%;
    transition: all 1s ease;
}

.large {
    transform: scale(1.05, 1.05);
}

.plan__header {
    background-color: #fcfcfc;
    border-bottom: 1px solid #e8e8e8;
}

.plan__subheader {
    text-transform: uppercase;
    margin: 0;
    padding: 1rem 1rem;
    font-size: 1.5rem;
}

.plan__para {
    padding-left: 1rem;
    margin: 1rem;
}

.plan__price {
    font-size: 3.5rem;
    font-weight: 100;
}

.plan__para:first-of-type {
    color: #e67e22;
}

.plan__list-container {
    border-bottom: 1px solid #e8e8e8;
}

.plan__list {
    list-style: none;
    padding: 0;
}

.plan__list-item {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.plan__list-icon {
    margin: 0 1.5rem;
}

.plan__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.plan__button-span {
    display: flex;
    align-items: center;
}

.plan__button-link {
    text-decoration: none;
}

@media (max-width: 920px) {
    .plans__container {
        flex-direction: column;
    }
    .plan__header {
        text-align: center;
    }
    .plan__list-container {
        border-bottom: 1px solid #e8e8e8;
        display: flex;
        justify-content: center;
    }
    .plan {
        width: 40%;
        margin: 0 auto 2rem auto;
    }
    .plan-container:last-of-type {
        margin-bottom: 0;
    }
} 

@media (max-width: 555px) {
    .plan {
        width: 70%;
        margin: 0 auto 2rem auto;
    }
    .plan:last-of-type {
        margin-bottom: 0;
    }
    .plan__header {
        text-align: left;
    }
    .plan__list-container {
        display: initial;
    }
}


/* SECTION 7 */

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    width: 50%;
    margin: 2rem auto 0 auto;
}

.form__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__container__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.form__container__row:last-of-type {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.form__text {
    width: 65%;
    padding: 0.5rem;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 1.2rem;
    resize: none;
}

.form__button {
    margin-left: 35%;
}

.form__checkbox {
    width: 65%;
    margin: 0.5rem 0;
}

@media (max-width: 700px) {
    .form {
        width: 90%;
    }
    .form__container {
        width: 100%;
    }
}

/* FOOTER */

.footer {
    background-color: #333;
    padding: 2rem 0;
    color: #888;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__link {
    color: #888;
    text-decoration: none;
    transition: all 0.2s ease;
}

.footer__link:hover {
    color: white;
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__icon {
    font-size: 1.5rem;
}

.footer__list__list-item {
    margin-right: 1rem;
    display: inline-block;
}

.footer__lists {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 60%;
}

.footer__para {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .footer__lists {
        flex-direction: column;
        justify-content: space-evenly;
    }
}