* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
    min-width: 360px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

section {
    padding: 5rem 0rem;
}

.invisible {
    display: none;
}

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 1.2rem;
}

.icon-small {
    display: inline-block;
    vertical-align: middle;
    margin: 0rem 0.5rem;
    font-size: 1.2rem;
    color: #e67e22;
}

.button {
    transition: all 0.2s ease;
    height: 3rem;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 0.3rem 1.5rem;
    border: 1px solid #e67e22;
    border-radius: 30px;
    cursor: pointer;
}

.btn-fill {
    border: none;
    color: white;
    background-color: #e67e22;
    outline: none;
}

.btn-fill:hover {
    background-color: #ac6425;
}

.btn-outline {
    color: #e67e22;
    background-color: transparent;
    margin-left: 1rem;
    outline: none;
}

.btn-outline:hover {
    background-color: #e67e22;
    color: white;
}

.placeholder {
    visibility: hidden;
}

@media (max-width: 1080px) {
    * {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    * {
        font-size: 12px;
    }
}
/* HEADER */

.header {
    height: 100vh;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("../Omnifood Contents/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header--para {
    margin: 0 0 0 1rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    word-spacing: 5px;
    width: 95%;
}

.header--hero-button-container {
    margin-left: 1rem;
}

.header--container {
    max-width: 1200px;
    height: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .button {
    margin-top: 1rem;
}

/* NAVIGATION */

.nav {
    height: 15vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    align-items: center;
}

.nav--logo-white {
    width: auto;
    height: 6rem;
}

.nav--buttons {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav--button {
    display: flex;
    height: 50%;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    transition: border-color 0.2s ease;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-left: 2rem;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

.nav--button:hover {
    border-bottom: 2px solid #e67e22;
    cursor: pointer;
}

.nav-fixed {
    position: fixed;
    z-index: 1;
    padding: 0 10%;
    height: 10vh;
    max-width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    opacity: 0.98;
    box-shadow: 0px 2px 2px 0px rgba(216, 216, 216, 0.7);
}

.nav-fixed .nav--button {
    color: black;
    height: 100%;
    padding-bottom: 0px;
    line-height: 3rem;
}

.nav-fixed .nav--logo-white {
    display: none;
}

.nav-fixed .nav--logo-black {
    display: block;
}

.nav--logo-black {
    height: 3rem;
    width: auto;
}

.nav--icon {
    font-size: 3rem;
    color: white;
    display: none;
    height: 6vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.nav-fixed .nav--icon {
    color: black;
}

@media (max-width: 700px) {
    .ion-md-menu {
        position: relative;
        z-index: 2;
        display: flex;
    }

    .nav--open .ion-md-menu {
        display: none;
    }
    
    .nav--open .ion-md-close {
        display: flex;
    }

    .nav--open .nav--buttons {
        transform: translateY(0vh);
    }

    .nav--buttons {
        height: auto;
        position: absolute;
        top: 1rem;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        transform: translateY(-45vh);
        transition: transform 0.2s ease;
    }

    .nav-fixed .nav--buttons {
        top: 0;
        background-color: white;
        opacity: 0.98;
        box-shadow: 0px 2px 2px 0px rgba(216, 216, 216, 0.7);
    }

    .nav--button:hover {
        border-color: white;
    }

    .nav-fixed {
        height: 10vh;
        padding: 0 5%;
        overflow: visible;
    }

    .nav--logo-black {
        position: relative;
        z-index: 2;
        height: 6vh;
        width: auto;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
}

/* SECTION CLASSES */

.section--header {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.divider {
    border-bottom: 2px solid #e67e22;
    width: 4rem;
    margin: 0 auto;
}

.see-through {
    opacity: 0;
}

@media (max-width: 700px) {
    .section--header {
        margin: 0 3rem 2rem 3rem;
    }
}

/* SECTION 1 */

.section-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-overview--mainpara {
    margin: 2rem auto 0 auto;
    line-height: 145%;
    font-size: 1.2rem;
    width: 60%;
}

.section-overview--containerpara {
    line-height: 145%;
    font-size: 1.1rem;
}

.section-overview--container {
    margin: 3rem auto 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    transition: all 1s ease;
}

.section-overview--column {
    display: flex;
    flex-direction: column;
    width: 23%;
}

.section-overview--subheader {
    text-transform: uppercase;
    margin: 0;
    font-size: 1.4rem;
    height: 15%;
}

@media (max-width: 700px) {
    .section-overview--mainpara {
        width: 90%;
    }
    .section-overview--container {
        display: flex;
        flex-direction: column;
    }
    .section-overview--column {
        width: 100%;
    }
}

/* SECTION 2 */

.section-photos {
    height: auto;
    padding: 0;
}

.section-photos--img-row {
    display: flex;
    height: 50%;
}

.section-photos--img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    width: 25%;
}
.section-photos--image {
    transition: all 0.5s ease;
    height: auto;
    width: 100%;
    opacity: 0.6;
    transform: scale(1.2)
}

.section-photos--image:hover {
    transform: scale(1);
    opacity: 1;
}

/* SECTION 3 */

.section-steps {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-steps--main-container {
    display: flex;
    margin: 2rem auto 0 auto;
    width: 60%;
}

.section-steps--img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-steps--phone-img {
    width: 50%;
    transition: all 1s ease;
}

.section-steps--phone-before-scroll {
    transform: translateY(200px);
}

.section-steps--list {
    list-style: none;
    counter-reset: item;
    padding: 0;
}

.section-steps--list-item {
    counter-increment: item;
    display: flex;
    align-items: center;
}

.section-steps--list-item:before {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    content: counter(item);
    border: 2px solid #e67e22;
    border-radius: 100%;
    color: #e67e22;
    padding: 1rem;
    font-size: 1.6rem;
    margin-right: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
}

.section-steps--number {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
}

.section-steps--list-para {
    line-height: 145%;
    font-size: 1.2rem;
}

.section-steps--button img {
    height: 40px;
    width: auto;
}

.section-steps--button:last-of-type {
    margin-left: 1rem;
}

@media (max-width: 700px) {
    .section-steps--main-container {
        flex-direction: column;
    }
    .section-steps--button-container {
        display: flex;
        flex-direction: column;
    }
    .section-steps--button:last-of-type,
    .section-steps--button {
        margin: 0 auto;
    }
}


/* SECTION 4 */

.section-cities--image-row {
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    transition: all 1s ease;
}

.section-cities--location-col {
    width: 20%;
}

.section-cities--imagecontainer {
    margin: 0 auto;
}

.section-cities--image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.section-cities--location-header {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 1rem 0rem;
}

.section-cities--location-list {
    list-style: none;
    padding: 0;
}

.section-cities--location-para {
    margin: 0.3rem 0rem;
    font-size: 1.2rem;
    display: inline-block;
    vertical-align: middle;
}

.section-cities--location-mail {
    color: #e67e22;
    font-size: 1.2rem;
    transition: all 0.2s ease;
}

.section-cities--location-mail:hover {
    color: black;
    text-decoration: none;
}

@media (max-width: 700px) {
    .section-cities--image-row {
        flex-direction: column;
    }
    .section-cities--location-col {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

/* SECTION 5 */

.section-testimonials {
    position: relative;
    width: 100%;
    background-color: black;
    background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../Omnifood Contents/back-customers.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.section-testimonials--quotes-container {
    margin: 6rem auto 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.section-testimonials--quote-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
}

.section-testimonials--quote {
    position: relative;
    margin-top: 0;
    font-style: italic;
    line-height: 145%;
    font-size: 1.2rem;
}

blockquote::before {
    content: "\201C";
    font-size: 5rem;
    position: absolute;
    top: -1rem;
}

.section-testimonials--customer-container {
    display: flex;
    align-items: center;
}

.section-testimonials--customer-image {
    width: 15%;
    height: auto;
    align-self: center;
    border-radius: 50%;
}

.section-testimonials--customer-name {
    font-style: italic;
    font-size: 1rem;
    margin: 0 0 0 0.8rem;
}

@media (max-width: 700px) {
    .section-testimonials--quotes-container {
        flex-direction: column;
    }
    .section-testimonials--quote-container {
        margin-bottom: 4rem;
        width: 100%;
    }
    .section-testimonials--quote-container:last-of-type {
        margin-bottom: 0;
    }
}

/* SECTION 6 */

.section-plans {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.section-plans--main-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1400px;
    margin: 2rem auto;
}

.section-plans--plan-container {
    background-color: white;
    width: 29%;
    transition: all 1s ease;
}

.large {
    transform: scale(1.05, 1.05);
}

.section-plans--plan-header {
    background-color: #fcfcfc;
    border-bottom: 1px solid #e8e8e8;
}

.section-plans--subheader {
    text-transform: uppercase;
    margin: 0;
    padding: 1rem 1rem;
    font-size: 1.5rem;
}

.section-plans--plan-para {
    padding-left: 1rem;
    margin: 1rem;
}

.section-plans--plan-price {
    font-size: 3.5rem;
    font-weight: 100;
}

.section-plans--plan-para:first-of-type {
    color: #e67e22;
}

.section-plans--plan-list {
    list-style: none;
    padding: 0;
}

.section-plans--list-container {
    border-bottom: 1px solid #e8e8e8;
}

.section-plans--list-item {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.section-plans--list-icon {
    margin: 0 1.5rem;
}

.section-plans--button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.section-plans--button-span {
    display: flex;
    align-items: center;
}

.section-plans--button-link {
    text-decoration: none;
}

@media (max-width: 920px) {
    .section-plans--main-container {
        flex-direction: column;
    }
    .section-plans--plan-header {
        text-align: center;
    }
    .section-plans--list-container {
        border-bottom: 1px solid #e8e8e8;
        display: flex;
        justify-content: center;
    }
    .section-plans--plan-container {
        width: 40%;
        margin: 0 auto 2rem auto;
    }
    .section-plans--plan-container:last-of-type {
        margin-bottom: 0;
    }
} 

@media (max-width: 555px) {
    .section-plans--plan-container {
        width: 70%;
        margin: 0 auto 2rem auto;
    }
    .section-plans--plan-container:last-of-type {
        margin-bottom: 0;
    }
    .section-plans--plan-header {
        text-align: left;
    }
    .section-plans--list-container {
        display: initial;
    }
}


/* SECTION 7 */

.section-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-message--form {
    width: 50%;
    margin: 2rem auto 0 auto;
}

.section-message--form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section-message--form-container-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.section-message--form-container-row:last-of-type {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.section-message--form-text {
    width: 65%;
    padding: 0.5rem;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 1.2rem;
    resize: none;
}

.section-message--button {
    margin-left: 35%;
}

.section-message--checkbox {
    width: auto;
}

.section-message--form-container-checkbox {
    width: 65%;
    margin: 0.5rem 0;
}

@media (max-width: 700px) {
    .section-message--form {
        width: 90%;
    }
    .section-message--form-container {
        width: 100%;
    }
}

/* FOOTER */

.footer {
    background-color: #333;
    padding: 2rem 0;
    color: #888;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer--link {
    color: #888;
    text-decoration: none;
    transition: all 0.2s ease;
}

.footer--link:hover {
    color: white;
}

.footer--list {
    list-style: none;
    padding: 0;
}

.footer--icon {
    font-size: 1.5rem;
}

.footer--list-item {
    margin-right: 1rem;
    display: inline-block;
}

.footer--lists-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 60%;
}

.footer--para-container {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .footer--lists-container {
        flex-direction: column;
        justify-content: space-evenly;
    }
}